/* 
general body and font declarations 
___________________________________________________________________________________
*/
body {
    background-color: #8aa08c;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

@font-face {
    font-family: sprout;
    src: url("sprout.ttf");
}

h2{
    font-size: 90px;
    font-family: sprout;
    color: white;
    font-weight: normal;
    text-shadow: 0 0 10px black;
}


/* 
The header bar contianing links:
with home, about, recipes, bean basket and get involved 
___________________________________________________________________________________
*/
header {
    /* handles the placement of the bar */
    position: fixed;
    height: 70px;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    /* handles the text alignment */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* handles the look of the text */
    font-family: 'Raleway', sans-serif;
    z-index: 2;
    top: 0px;
}

header a {
    font-size: 25px;
    padding: 50px;
    color: white;
}

header a:hover {
    text-shadow: 0 0 4px #FFFFFF;
}

#mainContent {
    padding: 30px;
    
}

/* 
The ways to get involved
___________________________________________________________________________________
*/
.way {
    display: flex;
    margin-top: 70px;
}
.text {
    width: 50%;
    background-color: rgba(7, 30, 66, 0.5);
}
.img {
    width: 50%;
    background-color: rgba(7, 30, 66, 0.5);
}
.img img {
    width: 400px;
    margin: 0px;
}
.textBox {
    border: 1px solid rgba(0,0,0,0);
    color: white;
    width: 80%;
    background-color: rgba(7, 30, 66, 0.5);
    margin: auto;
    position: relative;
    height: 400px;
    top: 50%;
    padding-left: 30px;
    padding-right: 30px;
    transform: translateY(-50%);
}
.textBox p, .textBox h3{
    border: 1px solid  rgba(7, 30, 66, 0);
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}
.textBox h3 {
    font-size: 30px;
}

#descr{
    background-color: rgba(7, 30, 66, 0.5);
    padding: 50px;
    color: white;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
#descr p{
    width: 70%;
    margin:auto;
    margin-bottom: 20px;
    background-color: rgba(7, 30, 66, 0.5);
    padding: 30px;
}
