/* 
general body and font declarations 
___________________________________________________________________________________
*/
body {
    background-color: #8aa08c;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@font-face {
    font-family: sprout;
    src: url("sprout.ttf");
}

h2{
    font-size: 90px;
    font-family: sprout;
    color: white;
    font-weight: normal;
    text-shadow: 0 0 10px black;
}
#mainTitle {
    margin-top: 140px;
}
/* 
The header bar contianing links:
with home, about, recipes, bean basket and get involved 
___________________________________________________________________________________
*/
header {
    /* handles the placement of the bar */
    position: fixed;
    height: 70px;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    /* handles the text alignment */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* handles the look of the text */
    font-family: 'Raleway', sans-serif;
    z-index: 1;
    top: 0px;
}
header a {
    font-size: 25px;
    padding: 50px;
    color: white;
}
header a:hover {
    text-shadow: 0 0 4px #FFFFFF;
}
/* 
The menu area
___________________________________________________________________________________
*/

#menuOuter {
    border: 1px solid white;
    width: 50%;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
}
#menuBox{
    background-image: url("Images/beans.jpg");
    margin: auto;
}

#menu {
    background-color: rgba(29, 31, 40, .95);
    width: 85%;
    padding: 20px;
    margin: auto;
    
}

#menuTitle {
    border: 1px solid white;
}
h3 {
    color: white;
    font-size: 30px;
    padding: 10px;
}

.menuSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.item, .price{
    color: white;
    display: inline;
}
.item {
    float: left;
}
.price {
    float: right;
}


/* 
The about boxes
___________________________________________________________________________________
*/
#aboutText {
    width: 50%;
    margin: auto;
}
#aboutImgBox{
    width: 450px;
    border: 1px solid white;
    padding: 10px;
}

#aboutImg {
    width: 100%;
    margin: auto;
    display: inline;
}

#about {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
}
.aboutBox {
    border: 1px solid white;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

.about {
    color: white;
    margin: auto;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
}
