/* 
general body and font declarations 
___________________________________________________________________________________
*/
body {
    background-color: #8aa08c;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@font-face {
    font-family: sprout;
    src: url("sprout.ttf");
}

h2{
    font-size: 90px;
    font-family: sprout;
    color: white;
    font-weight: normal;
    text-shadow: 0 0 10px black;
    margin-top: 140px;
}


/* 
The header bar contianing links:
with home, about, recipes, bean basket and get involved 
___________________________________________________________________________________
*/
header {
    /* handles the placement of the bar */
    position: fixed;
    height: 70px;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    /* handles the text alignment */
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* handles the look of the text */
    font-family: 'Raleway', sans-serif;
    z-index: 2;
    top: 0px;
}

header a {
    font-size: 25px;
    padding: 50px;
    color: white;
}

header a:hover {
    text-shadow: 0 0 4px #FFFFFF;
}

#mainContent {
    padding: 30px;
    
}

/* 
The recipe cards
___________________________________________________________________________________
*/

.recipeBox {
    background-color: #c1c9c2;
    color: black;
    padding: 40px;
    height: 800px;
    border: 1px solid white;
}

.container {
    border: 1px solid white;
    padding: 20px;
}

h3 {
    font-size: 30px;
}

.bean, .servings, .time, .ingredients, .instructions {
    padding: 10px;
}

.servings, .time {
    display: inline-block;
    
}
.bean {
    background-color: rgba(72, 79, 73,0.2);
}
.ingredientList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ingredients {
    background-color: rgba(255,255,255,0.4);
    margin-left: 10px;
}

/* 
The floating images
___________________________________________________________________________________
*/

#foodImg {
    position: absolute;
    top: 24%;
    right: 10%;
    max-width: 300px;
    max-height: 300px;
    z-index: 1;
}
#leafyImg {
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    left: 0px;
    margin-top: -20%;
    z-index: 1;
}
